/* CSS unitifé aux deux pages */

*
  {
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 120%
}

.container {
  border-radius: 12px;
  background-color: #EEE0CB;
  padding: 33px;
}

ul {
list-style-type: none;
  margin: 20;
  padding: 20;
  overflow: hidden;
  background-color: #333;
  border-radius: 12px;
  opacity: 0.75;
}

ul:hover {
  background-color: #302F4D;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

footer{
  text-align: end;
}

/* CSS agenda.html*/

table {
  box-shadow: 6px 3px 3px rgb(117, 117, 117);
}

th, td {
  margin:2%;
  text-align: center;
  width: 10%;
}

  /* couleurs agenda*/

#midi {
  background-color: #9E2A2B;
}

#om {
  background-color: #6290C8;
}

#code {
  background-color: #302F4D;
}

#english{
  background-color: #E3170A;
}
#fr {
  background-color: #05A8AA
}

  /* CSS formulaire.html*/

input, select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 25%;
}

input[type=submit]:hover {
  background-color: #45a049;
}