input, select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 25%;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

#align {
    width: 750px;
}
  .container {
    border-radius: 12px;
    background-color: #e2e0e0;
    padding: 50px;
  }

*
  {
  src:"https://fonts.google.com/specimen/Signika"
}
#text {
    flex-direction: column;
}